<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Keep Clone</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="https://ssl.gstatic.com/keep/keep_2023q4.ico">
  </head>
  <body>
    <header>
      <img
        src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
        alt="Google Keep Logo"
      />
      <h1>Keep</h1>
    </header>

    <div class="add-note">
      <textarea placeholder="Take a note..." id="input"></textarea>
      <button id="add-note">Add Note</button>
    </div>

    <div class="container">
     
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.2.0/uuid.min.js"
      integrity="sha512-X0CJvcClD8EXFn5Oq8BD5lIsznKDfxb0Sf9Wr8MCCTyAEWaAAxr0Jvm3qyofsmN7eSHMZ0PPQGjVKroLAfexrA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/css/index.js"></script>
  </body>
</html>
